<h1>Editing post</h1>




    <%= form_for(@post) do |f|%>
     <div class="field">
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.text_field :url %>
    </div>
    <%= f.submit "save!" %>
    <%end%>


<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
